GPATH
GRTAGS
GTAGS
.DS_Store
*.o
*.bin
*.out
*.log
.style.yapf
__pycache__/
*.bak
core
core.*
*.a
log
bin/*.json
Session.vim
bin/deltaHQ
bin/location_info_base
/**/build/Makefile
/**/build/CMakeFiles/
/**/build/cmake_install.cmake
/**/build/CMakeCache.txt
